div(ng-controller="WebReferencePopoverController")
	ui-popover-body(ui-tooltips-attachment="north")
		| Web reference to
		a.reference-link(href="{{templateData.reference.target}}",
			target="_blank",
			ui-tooltip-content="Click to open this hyperlink in a new window.")
			| {{templateData.reference.target}}

	ui-popover-footer(button-type="primary")
		button.btn.btn-primary(ng-click="editReference()")
			| Edit
