div
	div.reference-caption {{uiWebReferencePopover.messages.caption}}&#32;

	a.reference-link.reference-link--technical(
		href="{{uiWebReferencePopover.uiReferencePopover.reference.target}}"
		target="_blank"
		ui-tooltip-content="{{uiWebReferencePopover.messages.hyperlinkTooltip}}"
		ng-click="uiWebReferencePopover.uiReferencePopover.hidePopover()")
		| {{uiWebReferencePopover.uiReferencePopover.reference.target}}

	p(ng-if="uiWebReferencePopover.uiReferencePopover.reference.metadata.description")
		| {{uiWebReferencePopover.uiReferencePopover.reference.metadata.description}}
