//- This template is loaded by the uiReferencePopover directive (controller).
	It has to have this directive inside it because it needs to be able to refer to the behavior defined in the
	uiReferencePopover (and the only direct way that is possible in Angular is by requiring another (parent)
	directive controller from a directive).
ui-web-reference-popover
